@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-radius: 0 !important;
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
  @apply duration-75 ease-in;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
