@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-radius: 0;
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
